* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {

    background-color: #8d8d8d;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    overflow: hidden;
}

.weather {
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.719);
    border-radius: 20px;
}

.weather_search {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -10%;
}

.weather_search [name="search"] {
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    transition: box-shadow .5s ease;
}

.weather_search [name="search"]:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

.weather_search [name="search_button"] {
    padding: 10px;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    cursor: pointer;
    background-color: #777777;
    border: 1px solid #585858;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.weather_search [name="search_button"]:hover {
    color: #ffffff;
    border: 1px solid #000000;
    background-color: #585858;
}

.weather_search [name="search_button"]:active {
    color: #fff6f6;
    border: 1px solid #3d3d3d;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
}

.today {
    padding: 3% 3%;
    display: flex;
}

.today_temp-block {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.today_info-block {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.today_temperature {
    font-size: 70px;
    color: #fff;
}

.today_temp-block img {
    width: 50%;
    margin: 0 auto;
}

.curent_weather {
    font-size: 15px;
    color: #fff;
}

.wind {
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
}

h3 {
    font-size: 40px;
    color: #fff;
}

.feels_like,
.pressure {
    color: #fff;
    font-size: 25px;
}


.three_days {
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
}

.days {
    padding: 3%;
    border-right: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.days:last-child {
    border-right: none;
}

.date,
.temperature {
    width: 100%;
    color: #fff;
}

.temperature {
    font-size: 30px;
    margin-top: 10px;
}

.precipitation_block {
    text-align: center;
    width: 40%;
}

.precipitation_block img {
    width: 100%;
}

.precipitation {
    color: #fff;
}

.min_max-temp {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.temp_max,
.temp_min {
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
}


@media screen and (max-width: 1024px) {
    body {
        padding: 8%;
    }

    .weather_search {
        top: -8%;
    }

    .weather {
        width: 70%;
    }

}


@media screen and (max-width: 768px) {


    .weather {
        width: 100%;
    }

}


@media screen and (max-width: 560px) {
    body {
        padding-top: 20%;
        overflow: auto;
    }

    .weather_search {
        top: -7%;
    }

    .today {
        flex-direction: column;
    }

    .today_temperature {
        font-size: 40px;
    }

    .weather_search [name="search"] {
        width: 50%;
    }

    .today_temp-block,
    .today_info-block {
        width: 100%;
    }
    .today_temp-block img {
        width: 30%;
    }
    
    h3,
    .feels_like,
    .pressure {
        margin-top: 10px;
    }

    h3 {
        font-size: 30px;
    }
    .wind,
    .feels_like,
    .pressure {
        font-size: 15px;
    }

    .three_days {
        flex-direction: column;
    }

    .days {
        border-right: none;
        border-bottom: 1px solid #fff;
    }

    .days:last-child {
        border: none;
    }

    .date, .temperature {
        font-size: 20px;
    }

    .precipitation_block {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    .precipitation {
        width: 40%;
    }

    .precipitation_block img {
        width: 20%
    }

    .min_max-temp {
        width: 100%;
        flex-direction: row;
    }

    .temp_min,
    .temp_max {
        font-size: 15px;
    }

}